<h1 class = text-center>Patricia</h1>


<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">Wellcome to my page.</p>
  <hr class="my-4">
  <p>All is about happiness.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">begin</a>
</div>
